<!doctype html>
    <body bgcolor=#6495ED>
        <center>
        <h1> Total Alcohol Content(in lit.) </h1><br>
        <form method="POST", action="{{url_for('one')}}">
            <b> 
            beer_servings : <input type="text", name='beer_servings', placeholder="enter value"> <br><br>
            spirit_servings : <input type="text", name='spirit_servings', placeholder="enter value"> <br><br>
            wine_servings : <input type="text", name='wine_servings', placeholder="enter value"> <br><br>
        
            </b>
            <input type="Submit" , value='Alcohol Content' >
        </form>
        </center>
    </body>
</html>